.Header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:left;
    gap: 1.5em;
    background: linear-gradient(90deg, rgba(10, 11, 1, 0.8) 46%, rgba(153, 161, 74, 1) 92%);
    min-height: 10em ;
    height: fit-content;
    color:aliceblue
}

.Header-link {
    margin: 0.8em;
    color: aliceblue;
    text-decoration: none;
}
.Header-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1em;

}
.Header-img {
    min-width: 10%;
    max-width: 20%;
}
img{
    background-color: transparent;
}

.Header-h1{
    font-size: 4em;
    font-weight: 600;
}
.Header-h4{
    font-size: 2em;
        font-weight: 600;
}